* {
  padding: 0;
  margin: 0;
  color: rgb(216, 205, 205);
  font-size: 1.5vw;
  text-decoration: none;
}

body {
  background-color: black;
}

.mx-2 {
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.alert {
  padding: 0;
  margin: 0;
}

.inputfield {
  width: 16vw;
  color: black;
}

.container {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4vw;
}
